[Desktop Entry]
Encoding=UTF-8
Name=Link to PyTorch documentation — PyTorch master documentation
Type=Link
URL=https://pytorch.org/docs/stable/index.html
Icon=text-html
